.preloader-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-overlay p {
    display: flex;
    color: white;
    font-size: 42px;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.preloader-overlay p span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}

.preloader-overlay svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
}

.preloader-overlay svg path {
    fill: #111;
}